@import '../../NFT-config.scss';

.Footer-#{$CSS-ID} {
    background-color: $second-bg;
    .user-container{
        .form{
            background-color: $fourth-bg;
        }
    }

    .subscribe-container{
        background-color: #413B70;

        button{
            background-color: #643BD9;
        }
    }
}