@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .capsule-powder-1-abs{
        top:15px;
        left: -20px;
    }
    .capsule-powder-2-abs{
        top:35px;
        left: -10px;
    }
    .capsule-powder-3-abs{
        top:12px;
        left: 0px;
    }
    .capsule-powder-4-abs{
        top:32px;
        left: 10px;
    }
    .capsule-powder-5-abs{
        top:15px;
        left: 20px;
    }
    .capsule-powder-6-abs{
        top:29px;
        left: 30px;
    }
    .capsule-powder-bg1{
        background: #7B05E2;
    }
    .capsule-powder-bg2{
        background: #F10F23;
    }
    .capsule-bg{
        background: linear-gradient(45deg, #24a53a 0%,#84f11b 100%);
        height: 102px;
        width: 102px;
        top:-10px;
    }
    .capsule-pills{
        top: -37px;
        left: 47px;
    }
    .capsule-size{
        height: 70px;
        width: 50px;
    }
    .capsule-top{
        background: linear-gradient(to bottom, #f20f23 0%, #f2b020 100%);
        transform: rotate(-45deg);
    }
    .capsule-bottom{
        background: linear-gradient(to bottom, #AE38EF 0%, #7C07E4 100%);
        transform: rotate(45deg);
        bottom: -14px;
    }
    .capsule-logo{
        position:absolute!important;
        right:0;
        zoom: 0.4;
    }
    .capsule-logo .capsule-top,
    .capsule-logo .capsule-bottom,
    .capsule-logo .capsule-bg,
    .capsule-logo .capsule-powder-bg1,
    .capsule-logo .capsule-powder-bg2{
        background: #fff;
    }
}

.capsule-bg::after{
    content: "";
    width: 45px;
    height: 45px;
    background: #ffffff;
    position: absolute;
    right: -10px;
    border-radius: 10px;
    top: -10px;
}