@import '../../NFT-config.scss';

.Categories-#{$CSS-ID} {
    .arrow{
        height: fit-content;
        transition: all 0.7s ease-in-out;
    }
    .container-scroll{
        height: 320px;
        width: -webkit-fill-available;
        -webkit-mask-size: 100% 100%;
        -webkit-mask-image: -webkit-radial-gradient(circle, black 90%, transparent 95%);

        .absolute{
            transition: all 0.7s ease-in-out;

            &.slide-left{
                transform: translateX(-28rem);
            }
        }

        
    }
}