@import '../../../../Defenders-config.scss';


.ScrollBlockRecruitment-#{$CSS-ID} {
  .scroller{
    width: 96vw;
  }
}

@media (min-width: $sm) {
  .ScrollBlockRecruitment-#{$CSS-ID} {
    .scroller{
      width: 80vw;
    }
  }
}

@media (min-width: $md) {
  .ScrollBlockRecruitment-#{$CSS-ID} {
    .scroller{
      width: 56vw;
    }
  }
}