@import '../../../../Defenders-config.scss';

$color-el:#8a929e;

.BlockRecruitment-#{$CSS-ID} {
  width: 18vw;
  height: 18vw;
  margin: 0.5vw;
  
  .container-filter{
    backdrop-filter: brightness(0.7);
    height: inherit;
  }
}