@import '../../NFT-config.scss';

.Bottom-#{$CSS-ID} {
    .border-round{
        border: 2px solid #643ADA;
        //transform: scale(1.2) rotate(360deg);
        animation: slidein 6s ease-in-out infinite alternate ;
    }
    .center-right{
        max-width: 50%;

        .border-center-right{
            border-left: 2px solid #643ADA;
        }

        .button-center-right {
            border: 1px solid #ccc;
            transition: all 0.7s ease-in-out;

            &:hover{
                background-color: #6c72e2;
                box-shadow: 13px 13px 13px #2d2a49, -4px -5px 18px #2e2b4b;
                border:1px solid #6c72e2;
            }
        }
    }
}

@keyframes slidein {
    from {
      transform: scale(1.05) translate(-10px, 10px);
    }
    to {
      transform: scale(1)
    }
}