@import 'config.module';

.RightContainer-#{$CSS-ID} {
    transform: translateX(120%);
    transition: transform 0.7s ease-in-out;
    &.transition{
      transform: translateX(0%);
    }
}

@media (min-width: $md) {
  .RightContainer-#{$CSS-ID} {
    transform: translateX(180%);
    width:70%;
    &.transition{
      transform: translateX(43%);
    }
  }
}

@media (min-width: $lg) {
  .RightContainer-#{$CSS-ID} {
    transform: translateX(0%);
    width:auto;
    &.transition{
      transform: translateX(0%);
    }
  }
}