@import 'config.module';

body{
  overflow: hidden;
}

.Frontpage-#{$CSS-ID} {
  .form-top-right{
    background: linear-gradient(to right, #f20f23 0%, #f2b020 100%);
    height: 77%;
    border-radius: 165px;
    right: -6%;
    top: -54%;
    position: absolute;
    transform: rotate3d(-3, 3, 6, 35deg);
  }
	.form-bottom-left{
			background: linear-gradient(to right, #24a53a 0%,#84f11b 100%);
			height: 77%;
			border-radius: 165px;
			left: -7%;
			bottom: -56%;
			width: 39%;
			position: absolute;
			transform: rotate3d(-3, 3, 6, 30deg);
	}
  .container-capsule{
    .FullCapsule-#{$CSS-ID}.capsule-logo {
      zoom: 0.22;
    }
    .Ingredients-#{$CSS-ID}{
      zoom: 0.82;
      .capsule-powder{
        background-color: #fff;
      }
    }
    .capsule-small{
      .Capsule-#{$CSS-ID}{
        zoom: 0.2;
        top: -8px;
        .capsule-size{
          background: #fff;
        }
      }
    }
  }
}