@import 'config.module';

.FullCapsule-#{$CSS-ID} {
    .capsule-pills{
        top: -37px;
        left: 47px;
    }
    .capsule-size{
        height: 70px;
        width: 50px;
    }
    .capsule-top{
        background: linear-gradient(to bottom, #f20f23 0%, #f2b020 100%);
        transform: rotate(-45deg);
    }
    .capsule-bottom{
        background: linear-gradient(to bottom, #AE38EF 0%, #7C07E4 100%);
        transform: rotate(45deg);
        bottom: -15px;
    }
}

/**
*   Create a small version of it    
*/
.FullCapsule-#{$CSS-ID}.capsule-logo{
    zoom: 0.4;

    .capsule-top,
    .capsule-bottom,
    .capsule-bg,
    .capsule-powder-bg1,
    .capsule-powder-bg2,
    .LetterC-#{$CSS-ID}{
        background: #fff;
    }
}