@import '../../NFT-config.scss';

.Center-#{$CSS-ID} {
    .border-round{
        border: 1px solid #643ADA;
    }
    .center-right{
        max-width: 50%;

        .border-center-right{
            border-left: 2px solid #643ADA;
        }
    }
}