@import './Defenders-config.scss';

.Defenders-#{$CSS-ID} {
  max-width: 100vw;

  &.bg-gray-bg{
    background-color: #232323;
  }

  .container-big-main{
    box-shadow: inset 0px 4px 8px #080b12;
    //max-width: 1700px;

    .container-shadow-1{
      background-color: rgba($primary-bg, .5);
      transform: rotate(3deg);
    }
    .container-shadow-2{
      background-color: rgba($primary-bg, .3);
      transform: rotate(-5deg);
    }

    .container-main{
      background-color: $primary-bg;

      .LeftContainer-#{$CSS-ID},
      .RightContainer-#{$CSS-ID}
      {
        background-color: $second-bg;
      }
    }
  }
}

@media (min-width: $md) {
  .Defenders-#{$CSS-ID} {
    .container-main{
      grid-template-columns: 30% auto;
    }
  }
}

@media (min-width: $lg) {
  .Defenders-#{$CSS-ID} {
    .container-main{
      grid-template-columns: 20% auto 33%;
    }
  }
}